* {
  box-sizing: border-box;
}
body {
  background-color: #eee;
}
.loader {
  margin: 20% 50%;
  transform: translateX(-50%);
  font-size: 68px;
  color: #000;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader:after {
  content: 'Loading';
  position: relative;

  z-index: 5;
}
.loader:before {
  content: '';
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(#ff3d00 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}
.cat-info {
  display: flex;
  column-gap: 18px;
}
.description {
  font-size: 22px;
  font-weight: 400;
  max-width: 50%;
}
